body{
  background-image: url("BackgroundPhoto.jpg");
  background-repeat: no-repeat;
  background-color:#CABAD2;
  background-attachment: fixed;
  background-size: cover;
  font-size:100%;
}

html{
  font-size:100%;
}

.layer {
  background-color: rgba(202,186,210,0.95);
}

#header{
    line-height: 100px;
    margin: auto;
    margin-top: -50px;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
    font-family:'Roboto', Helvetica, sans-serif;
    color: white;
    text-shadow: 2px 2px 2px #391E3B;
    text-shadow width: 50%;
=======
    text-shadow width: 50%;
>>>>>>> origin/master



}

#nav ul{
    list-style-type:none;
    display:block;
    padding:0;
    width:98.8%;
    background-color:rgba(202,186,210, 1);
    border-style:none;
    text-align:center;
}

#nav li a{
    display:block;
    color:#231A28;
    background-color:#CABAD2;
    width:100%;
    padding:8px;
    margin: 0 auto;
    text-decoration:none;
    font-family:'Roboto', Helvetica, sans-serif;
    font-weight:900;
    text-align: center;
}

#nav li a:hover{
    background-color:#231A28;
    color:#EEEEEE;
    font-weight:bold;
    margin: 0 auto;
}

#intro{
  color:#231A28;
  background-color: #CABAD2;
}


#mislan {
  padding-left: 200px;
}
#mislan img{
  width: 270px;
  height:360px;
}

#researcher {
  text-align: right;
  padding-right: 200px;
}
#researcher img{
  width: 465px;
  height:262.5px;
}

h2{
  font-family:'Roboto', Helvetica, sans-serif;
  font-size: 3.125em;
  color: #231A28 ;
  background-color:#CABAD2;
  padding-left: 15px;
}

h3{
  font-size: 3.125em;
  font-family:'Roboto', Helvetica, sans-serif;
  color: white;
  background-color: #231A28;
  padding-left: 30px;
}

h4{
  font-size: 2.188em;
  font-family:'Roboto', Helvetica, sans-serif;
  color: #231A28;
  padding-left: 15px;
  font-weight: bold;
}

h6{
  font-size:3em;
  font-family: 'Ubuntu', Helvetica, sans-serif;
  font-style: italic;
  color: white;
  background-color: #231A28;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 40%;
  margin-left: 15px;
  text-align: center;
}

p{
  font-size: 1.250em;
  font-family:'Raleway', Georgia, serif;
  color: #231A28;
  padding-left: 125px;
  padding-right: 125px;
}

#gallery img{
padding-left: 15px;
display: block;
margin: auto;
}

/*#link{
  font-size: 1.250em;
  font-family:'Raleway', Georgia, serif;
  color: #231A28;
  padding-left: 15px;
  padding-right: 15px;
}*/



#gofurther img{
  width: 500px;
  padding: 15px;
  /*float: right;*/
  margin: 0 0 10px 10px;
  overflow: auto;
}

#gofurther a:link {
    color: #78088A;
    text-decoration: none;
    font-weight: bold;
}

#gofurther a:visited{
  color: #413C42;
}

}
#footer{
  color:black;
  font-family:'Raleway', Georgia, serif;
  font-size:0.8rem;
  font-style:italic;
  border-top:1px solid black;
  margin-left:5px;
  margin-right:5px;
}



/*lavender background for intro section/chapter body #CABAD2
dark purple background for Who We Are section/chapter headers #231A28
teal nav hover color #2AD1BB

fonts: font-family:'Roboto', Helvetica, sans-serif;
font-family:'Raleway', Georgia, serif;
font-family: 'Ubuntu', Helvetica, sans-serif;*/
