h1{
    line-height: 200px;
    margin: auto;
    margin-top: -50px;
    top: 50%;
    width: 100%;
    position: absolute;
    text-align: center;
}


/*lavender background for intro section/chapter body #CABAD2
dark purple background for Who We Are section/chapter headers #231A28*/
