
body{
  background-image: url("BackgroundPhoto.jpg");
  background-repeat: no-repeat;
  background-color:#CABAD2;
  opacity: 0.4;
}


#header{
    line-height: 200px;
    margin: auto;
    margin-top: -50px;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 2.0em;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    color: white;
    text-shadow: 7px 7px 7px #000;
}

#nav ul{
    list-style-type:none;
    margin:0 auto;
    display: block;
    padding:0;
    width:100%;
    background-color:#CABAD2;
    border-style: none;
    text-align: center;
    display: block;
}

#nav li a{
    display:block;
    color:#231A28;
    background-color:#CABAD2;
    width:100%;
    padding:8px;
    margin: 0 auto;
    text-decoration:none;
    font-family:'Roboto', Helvetica, sans-serif;
    font-weight:bold;
    text-align: center;
}

#nav li a:hover{
    background-color:#231A28;
    color:#2AD1BB;
    font-weight:bold;
}

h2{
  font-family:'Roboto', Helvetica, sans-serif;
  font-size: 50px;
  color: white;
}

h3{
  font-size: 35px;
  font-family:'Roboto', Helvetica, sans-serif;
  color: white;
}

p{
  font-size: 20px;
  font-family:'Raleway', Georgia, serif;
  color: white;
}







/*lavender background for intro section/chapter body #CABAD2
dark purple background for Who We Are section/chapter headers #231A28
teal nav hover color #2AD1BB

fonts: font-family: 'Roboto', sans-serif;*/
